
<main class="m-5">

    <h1 class="text-center"> Agregar productos</h1>

    <form #productForm="ngForm" id="form-paciente" class="row g-3 m-5" (ngSubmit)="onSubmit(productForm)">
      <div class="col-md-4">
        <label for="validationDefault01" class="form-label">Código / SKU</label>
        <input type="text" class="form-control" id="validationDefault01" value="Código / SKU" placeholder="ej. sku546" name="code" [(ngModel)]="product.code" required>
      </div>
      <div class="col-md-4">
        <label for="validationDefault02" class="form-label">Nombre Producto</label>
        <input type="text" class="form-control" id="validationDefault02" value="Nombre Producto" placeholder="ej. Celular" name="prodName" [(ngModel)]="product.productName" required>
      </div>
      <!-- <div class="col-md-4">
        <label for="validationDefault02" class="form-label">Categoría</label>
        <input type="text" class="form-control" id="validationDefault02" value="Categoría" name="category" [(ngModel)]="product.category" required>
      </div> -->

      <div class="col-md-4">
        <label for="category" class="form-label">Categoría</label>
        <select class="form-select" id="category" name="category" [(ngModel)]="product.category" required>
          <option selected disabled value="">Elige una categoría...</option>
          <option>Celulares</option>
          <option>Tablets</option>
          <option>Laptops</option>
          <option>Panadería</option>
          <option>Carnes</option>
          <option>Calzado</option>
          <option>Remeras</option>
          <option>Pantalones</option>
          <option>Ropa deportiva</option>
        </select>
      </div>

      <div class="col-md-6">
        <label for="price" class="form-label">Precio</label>
        <input type="number" class="form-control" id="price" value="" placeholder="ej. 499"  name="price" [(ngModel)]="product.price" required>
      </div>
     
      <div class="col-md-3">
        <label for="validationDefault04" class="form-label">Proveedor</label>
        <select class="form-select" id="validationDefault04" name="providerSelect" [(ngModel)]="product.provider" required>
          <option selected disabled value="">Elige proveedor...</option>
          <option *ngFor="let provider of providers || []" [value]="provider.businessName">{{ provider.businessName }}</option>

        </select>
      </div>

      

      <div class="col-md-12">
        <label for="description" class="form-label">Descripción</label>
        <textarea class="form-control" id="description" name="description" rows="5" [(ngModel)]="product.description"></textarea>
      </div>


      <div class="col-12">
        <button class="btn btn-primary" type="submit">Guardar</button> 
        <button routerLink="/productos/listado" class="btn btn-danger m-lg-1" type="button">Cancelar</button> 
      </div>
    </form>
    
  </main>

