<div class="d-flex align-items-center justify-content-center" style="height: 60vh; margin-top: 20vh;">
    <div class="card text-bg-dark" style="max-width: 40rem; min-width: 20rem;">
        <img src="{{ product.img }}" class="card-img-top" alt="logo" style="max-height: 15rem;">
    <!-- <div class="card-body">
      <h5 class="card-title text-uppercase">{{ product.productName }}</h5>
      <p class="fw-bold" >Código: {{ product.code }}</p>
      <p class="fw-bold" >Categoría: {{ product.category.category }}</p>
      <p class="fw-bold">Precio: {{ product.price }}</p>
    </div> -->
    <ul class="list-group list-group-flush ">
        <li class="list-group-item  text-bg-dark ">
            <h5 class="card-title text-uppercase">{{ product.productName }}</h5>
            <p class="fw-bold" >Código: {{ product.code }}</p>
            <p class="fw-bold" >Categoría: {{ product.category.category }}</p>
            <p class="fw-bold">Precio: {{ product.price }}</p>
          </li>
      <li class="list-group-item  text-bg-dark ">
        <p class="card-text fw-bold text-uppercase">Proveedor:</p>
        <p class="fw-bold">
          {{ product.provider.businessName }}
        </p>
      </li>
      <li class="list-group-item  text-bg-dark ">
        <p class="card-text fw-bold text-uppercase">Descripción:</p>
        <p class="fw-bold">{{ product.description }}</p>
      </li>
    </ul>
    <div class="d-flex align-items-center justify-content-center m-2  ">
        <button class="btn btn-success" [routerLink]="['/productos/listado']">Volver</button>
    </div>
  </div>
</div>
