<main class="mt-5 mb-5" >
    <h1 class="text-center"> Agregar órden de compra</h1>

    <form #purchaseForm="ngForm" id="purchase-form" class="row g-3 m-5" (ngSubmit)="createPurchase(purchaseForm)">
      <div class="col-md-4">
        <label for="orderNumber" class="form-label">Número de orden</label>
        <input type="text" class="form-control" id="orderNumber" value="orderNumber" name="orderNumber" [(ngModel)]="purchaseOrder.OrderNumber" required>
      </div>
      <div class="col-md-4">
        <label for="issueDate" class="form-label">Fecha de emisión</label>
        <input type="date" class="form-control" id="issueDate" name="issueDate" [(ngModel)]="purchaseOrder.issueDate" required>
      </div>
      <div class="col-md-4">
        <label for="deliveryDate" class="form-label">Fecha entrega esperada</label>
        <input type="date" class="form-control" id="deliveryDate" name="deliveryDate" [(ngModel)]="purchaseOrder.deliveryDate" required>
      </div>
      <div class="col-md-4">
        <label for="receptionInfo" class="form-label">Información de recepción</label>
        <input type="text" class="form-control" id="receptionInfo" name="receptionInfo" [(ngModel)]="purchaseOrder.receptionInfo" required>
      </div>
      <div class="col-md-3">
        <label for="provider" class="form-label">Proveedor</label>
        <select class="form-select" id="provider" name="provider" [(ngModel)]="purchaseOrder.provider" required>
          <option selected disabled value="">Elige proveedor...</option>
          <option>Proveedor 1</option>
          <option>Proveedor 2</option>
          <option>Proveedor 3</option>
          <option>Proveedor 4</option>
          <option>Proveedor 5</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="products" class="form-label">Productos</label>
        <select class="form-select" id="products" name="products" [(ngModel)]="purchaseOrder.products" required>
          <option selected disabled value="">Elige producto...</option>
          <option>Producto 1</option>
          <option>Producto 2</option>
          <option>Producto 3</option>
          <option>Producto 4</option>
          <option>Producto 5</option>
        </select>
      </div>
      <div class="col-md-6">
        <label for="quantity" class="form-label">Cantidad</label>
        <input type="number" class="form-control" id="quantity" name="quantity" [(ngModel)]="purchaseOrder.quantity" required>
      </div>

      <div class="col-12">
        <button class="btn btn-primary" type="submit">Guardar</button> 
        <button routerLink="/ordenes/listado" class="btn btn-danger m-lg-1" type="button">Cancelar</button> 
      </div>
    </form>



  </main>

