<main class="m-5">
  <h1 class="text-center">{{formTitle}}</h1>

  <form
    #providerForm="ngForm"
    id="proveedor-form"
    class="m-5"
    (ngSubmit)="onSubmit(providerForm)"
  >
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputCodigo">Código (*)</label>
        <input
          type="text"
          class="form-control"
          id="inputCodigo"
          placeholder="ej. 444555"
          name="providerCode"
          [(ngModel)]="provider.providerCode"
          required
          minlength="3"
        />
        <div
          *ngIf="
            providerForm.controls['providerCode']?.invalid &&
            (providerForm.controls['providerCode']?.dirty ||
              providerForm.controls['providerCode']?.touched)
          "
          class="text-danger"
        >
          <small
            *ngIf="providerForm.controls['providerCode']?.errors?.['required']"
            >Este campo es obligatorio.</small
          >
          <small
            *ngIf="providerForm.controls['providerCode']?.errors?.['minlength']"
            >El código debe tener al menos 3 caracteres.</small
          >
        </div>

        <label for="inputRazon">Razón Social (*)</label>
        <input
          type="text"
          class="form-control"
          id="inputRazon"
          placeholder="ej. Pepsico Iberia Servicios Centrales, S.L"
          name="razon"
          [(ngModel)]="provider.businessName"
          required
          minlength="3"
        />
        <div
          *ngIf="
            providerForm.controls['razon']?.invalid &&
            (providerForm.controls['razon']?.dirty ||
              providerForm.controls['razon']?.touched)
          "
          class="text-danger"
        >
          <small *ngIf="providerForm.controls['razon']?.errors?.['required']"
            >Este campo es obligatorio.</small
          >
          <small *ngIf="providerForm.controls['razon']?.errors?.['minlength']"
            >La razón social debe tener al menos 3 caracteres.</small
          >
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="inputRubro">Rubro (*)</label>
        <select
          id="inputRubro"
          class="form-control"
          name="inputRubro"
          [(ngModel)]="provider.industry.idIndustry"
          required
        >
          <option value="0" selected>Elige el rubro...</option>
          <option *ngFor="let industry of industriesData" value="{{industry.idIndustry}}">{{industry.industry}}</option>
        </select>
        <div
          *ngIf="
            providerForm.controls['inputRubro']?.invalid &&
            providerForm.controls['inputRubro']?.touched
          "
          class="text-danger"
        >
          <small
            *ngIf="providerForm.controls['inputRubro']?.errors?.['required']"
            >Debes seleccionar un rubro.</small
          >
        </div>
      </div>

      <div class="form-group col-md-4">

      <label for="inputImagen">Imágen</label>
      <input
        type="text"
        class="form-control"
        id="inputImagen"
        placeholder="URL de la imágen"
        name="img"
        [(ngModel)]="provider.img"
        minlength="3"
      />
    </div>
    </div>

    <div class="form-group">
      <h4 class="mt-3">Dirección</h4>

      <div class="form-group col-md-4">
        <label for="inputDir">Calle y Altura (*)</label>
        <input
          type="text"
          class="form-control"
          id="inputDir"
          placeholder="ej. San Martin 455"
          name="dir"
          [(ngModel)]="provider.address.streetAndNumber"
          required
          minlength="3"
        />

        <div
          *ngIf="
            providerForm.controls['dir']?.invalid &&
            (providerForm.controls['dir']?.dirty ||
              providerForm.controls['dir']?.touched)
          "
          class="text-danger"
        >
          <small *ngIf="providerForm.controls['dir']?.errors?.['required']"
            >Este campo es obligatorio.</small
          >
          <small *ngIf="providerForm.controls['dir']?.errors?.['minlength']"
            >La dirección debe tener al menos 3 caracteres.</small
          >
        </div>

        <div class="form-group col-md-4">
          <label for="inputZip">Código postal</label>
          <input
            type="text"
            class="form-control"
            id="inputZip"
            placeholder="CP"
            name="cp"
            [(ngModel)]="provider.address.postalCode"
            minlength="3"
            maxlength="8"
          />
        </div>
        <div
          *ngIf="
            providerForm.controls['cp']?.invalid &&
            (providerForm.controls['cp']?.dirty ||
              providerForm.controls['cp']?.touched)
          "
          class="text-danger"
        >
          <small *ngIf="providerForm.controls['cp']?.errors?.['required']"
            >Este campo es obligatorio.</small
          >
          <small *ngIf="providerForm.controls['cp']?.errors?.['minlength']"
            >El código debe tener al menos 3 caracteres.</small
          >
          <small *ngIf="providerForm.controls['cp']?.errors?.['maxlength']"
            >El código debe tener como máximo 8 caracteres.</small
          >
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="inputPais">País (*)</label>
        <select
          id="inputPais"
          class="form-control"
          name="pais"
          [(ngModel)]="provider.address.city.province.country.idCountry"
          (change)="getProvincesByCountry(provider.address.city.province.country.idCountry)"
          required
        >
          <option value="0" disabled selected>Elige el país...</option>
          <option *ngFor="let country of countriesData" value="{{country.idCountry}}">{{country.country}}</option>
        </select>
        <div
          *ngIf="
            providerForm.controls['pais']?.invalid &&
            (providerForm.controls['pais']?.dirty ||
              providerForm.controls['pais']?.touched)
          "
          class="text-danger"
        >
          <small *ngIf="providerForm.controls['pais']?.errors?.['required']"
            >Debe seleccionar un país.</small
          >
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="inputProv">Provincia (*)</label>
        <select
          id="inputProv"
          class="form-control"
          name="prov"
          [(ngModel)]="provider.address.city.province.idProvince"
          required
        >
          <option value="0" disabled selected>Elige la provincia...</option>
          <option *ngFor="let province of provinceData" value="{{province.idProvince}}">{{province.province}}</option>
        </select>
        <div
          *ngIf="
            providerForm.controls['prov']?.invalid &&
            (providerForm.controls['prov']?.dirty ||
              providerForm.controls['prov']?.touched)
          "
          class="text-danger"
        >
          <small *ngIf="providerForm.controls['prov']?.errors?.['required']"
            >Debe seleccionar una provincia.</small
          >
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="inputLoc">Localidad (*)</label>
        <input
          type="text"
          class="form-control"
          id="inputLoc"
          placeholder="Localidad"
          name="ciudad"
          [(ngModel)]="provider.address.city.city"
          required
          minlength="3"
        />
        <div
          *ngIf="
            providerForm.controls['ciudad']?.invalid &&
            (providerForm.controls['ciudad']?.dirty ||
              providerForm.controls['ciudad']?.touched)
          "
          class="text-danger"
        >
          <small *ngIf="providerForm.controls['ciudad']?.errors?.['required']"
            >Este campo es obligatorio.</small
          >
          <small *ngIf="providerForm.controls['ciudad']?.errors?.['minlength']"
            >La localidad debe tener al menos 3 caracteres.</small
          >
        </div>
      </div>
    </div>
    <div class="form-group">
      <h4 class="mt-3">Contacto</h4>
      <div class="form-group col-md-4">
        <label for="inputSitio">Sitio Web</label>
        <input
          type="text"
          class="form-control"
          id="inputSitio"
          placeholder="Sitio web"
          name="website"
          [(ngModel)]="provider.website"
          pattern="[https?://].*"
          title="Ingrese una URL válida con http:// o https://"
        />
        <!-- <div
          *ngIf="providerForm.controls['website']?.hasError('pattern')" -->
          <div *ngIf="providerForm.controls['website']?.invalid && (providerForm.controls['website']?.dirty || providerForm.controls['website']?.touched)"
          class="text-danger"
        >
          El sitio web no es una URL válida.
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputTel">Teléfono (*)</label>
          <input
            type="text"
            class="form-control"
            id="inputTel"
            placeholder="Teléfono"
            name="tel"
            [(ngModel)]="provider.phone"
            required
            minlength="8"
            maxlength="20"
          />

          <div
            *ngIf="
              providerForm.controls['tel']?.invalid &&
              (providerForm.controls['tel']?.dirty ||
                providerForm.controls['tel']?.touched)
            "
            class="text-danger"
          >
            <small *ngIf="providerForm.controls['tel']?.errors?.['required']"
              >Este campo es obligatorio.</small
            >
            <small *ngIf="providerForm.controls['tel']?.errors?.['minlength']"
              >El número de teléfono debe tener al menos 8 caracteres.</small
            >
            <small *ngIf="providerForm.controls['tel']?.errors?.['maxlength']"
              >El número de teléfono debe tener como máximo 20
              caracteres.</small
            >
          </div>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="inputEmail1">Email (*)</label>
        <input
          type="email"
          class="form-control"
          id="inputEmail1"
          placeholder="Email"
          name="mail"
          [(ngModel)]="provider.email"
          required
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
          minlength="8"
          maxlength="50"
        />

        <div
          *ngIf="
            providerForm.controls['mail']?.invalid &&
            (providerForm.controls['mail']?.dirty ||
              providerForm.controls['mail']?.touched)
          "
          class="text-danger"
        >
          <small *ngIf="providerForm.controls['mail']?.errors?.['required']"
            >Este campo es obligatorio.</small
          >
          <small
            *ngIf="providerForm.controls['mail']?.errors?.['pattern']"
            class="text-danger"
          >
            Ingresa una dirección de correo electrónico válida.
          </small>
          <small *ngIf="providerForm.controls['mail']?.errors?.['minlength']"
            >El mail debe tener al menos 8 caracteres.</small
          >
          <small *ngIf="providerForm.controls['mail']?.errors?.['maxlength']"
            >El mail debe tener como máximo 50 caracteres.</small
          >
        </div>
      </div>
    </div>

    <div class="form-group">
      <h4 class="mt-3">Datos fiscales</h4>
      <div class="form-group col-md-4">
        <label for="inputCuit">CUIT (*)</label>
        <input
          type="text"
          class="form-control"
          id="inputCuit"
          placeholder="CUIT"
          name="cuit"
          [(ngModel)]="provider.cuit"
          required
          minlength="10"
          maxlength="13"
        />
      </div>
      <div
        *ngIf="
          providerForm.controls['cuit']?.invalid &&
          (providerForm.controls['cuit']?.dirty ||
            providerForm.controls['cuit']?.touched)
        "
        class="text-danger"
      >
        <small *ngIf="providerForm.controls['cuit']?.errors?.['required']"
          >Este campo es obligatorio.</small
        >
        <small *ngIf="providerForm.controls['cuit']?.errors?.['minlength']"
          >El CUIT debe tener al menos 10 caracteres.</small
        >
        <small *ngIf="providerForm.controls['cuit']?.errors?.['maxlength']"
          >El CUIT debe tener como máximo 13 caracteres.</small
        >
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="iva">Condición IVA (*)</label>
      <select
        id="iva"
        class="form-control"
        name="iva"
        [(ngModel)]="provider.ivaCondition.idIvaCondition"
        required
      >
        <option value="0" selected>Elige la condición...</option>
        <option *ngFor="let ivaCondition of ivaConditionsData" value="{{ivaCondition.idIvaCondition}}">{{ivaCondition.ivaCondition}}</option>
      </select>
      <div
        *ngIf="
          providerForm.controls['iva']?.invalid &&
          (providerForm.controls['iva']?.dirty ||
            providerForm.controls['iva']?.touched)
        "
        class="text-danger"
      >
        <small *ngIf="providerForm.controls['iva']?.errors?.['required']"
          >Debes seleccionar una condición.</small
        >
      </div>
    </div>

    <div class="form-group">
      <h4 class="mt-3">Persona responsable</h4>
      <div class="form-group col-md-4">
        <label for="inputNombre">Nombre (*)</label>
        <input
          type="text"
          class="form-control"
          id="inputNombre"
          placeholder="Nombre"
          name="nombre-res"
          [(ngModel)]="provider.responsiblePerson.firstName"
          required
          minlength="3"
          maxlength="30"
        />
        <div
          *ngIf="
            providerForm.controls['nombre-res']?.invalid &&
            (providerForm.controls['nombre-res']?.dirty ||
              providerForm.controls['nombre-res']?.touched)
          "
          class="text-danger"
        >
          <small
            *ngIf="providerForm.controls['nombre-res']?.errors?.['required']"
            >Este campo es obligatorio.</small
          >
          <small
            *ngIf="providerForm.controls['nombre-res']?.errors?.['minlength']"
            >El nombre debe tener al menos 3 caracteres.</small
          >
          <small
            *ngIf="providerForm.controls['nombre-res']?.errors?.['maxlength']"
            >El nombre debe tener como máximo 30 caracteres.</small
          >
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="inputApellido">Apellido (*)</label>
        <input
          type="text"
          class="form-control"
          id="inputApellido"
          placeholder="Apellido"
          name="apellido-res"
          [(ngModel)]="provider.responsiblePerson.lastName"
          required
          minlength="3"
          maxlength="30"
        />
        <div
          *ngIf="
            providerForm.controls['apellido-res']?.invalid &&
            (providerForm.controls['apellido-res']?.dirty ||
              providerForm.controls['apellido-res']?.touched)
          "
          class="text-danger"
        >
          <small
            *ngIf="providerForm.controls['apellido-res']?.errors?.['required']"
            >Este campo es obligatorio.</small
          >
          <small
            *ngIf="providerForm.controls['apellido-res']?.errors?.['minlength']"
            >El apellido debe tener al menos 3 caracteres.</small
          >
          <small
            *ngIf="providerForm.controls['apellido-res']?.errors?.['maxlength']"
            >El apellido debe tener como máximo 30 caracteres.</small
          >
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="inputTel2">Teléfono</label>
        <input
          type="text"
          class="form-control"
          id="inputTel2"
          placeholder="Teléfono"
          name="tel-res"
          [(ngModel)]="provider.responsiblePerson.phone"
          minlength="8"
          maxlength="20"
        />

        <div
          *ngIf="
            providerForm.controls['tel-res']?.invalid &&
            (providerForm.controls['tel-res']?.dirty ||
              providerForm.controls['tel-res']?.touched)
          "
          class="text-danger"
        >
          <small *ngIf="providerForm.controls['tel-res']?.errors?.['required']"
            >Este campo es obligatorio.</small
          >
          <small *ngIf="providerForm.controls['tel']?.errors?.['minlength']"
            >El número de teléfono debe tener al menos 8 caracteres.</small
          >
          <small *ngIf="providerForm.controls['tel']?.errors?.['maxlength']"
            >El número de teléfono debe tener como máximo 20 caracteres.</small
          >
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="inputEmail2">Email</label>
        <input
          type="email"
          class="form-control"
          id="inputEmail2"
          placeholder="Email"
          name="mail-res"
          [(ngModel)]="provider.responsiblePerson.email"
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
          minlength="8"
          maxlength="50"
        />
        <div>
          <small *ngIf="providerForm.controls['mail-res']?.errors?.['required']"
            >Este campo es obligatorio.</small
          >
          <small
            *ngIf="providerForm.controls['mail-res']?.errors?.['pattern']"
            class="text-danger"
          >
            Ingresa una dirección de correo electrónico válida.
          </small>
          <small
            *ngIf="providerForm.controls['mail-res']?.errors?.['minlength']"
            >El mail debe tener al menos 8 caracteres.</small
          >
          <small
            *ngIf="providerForm.controls['mail-res']?.errors?.['maxlength']"
            >El mail debe tener como máximo 50 caracteres.</small
          >
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="inputRol">Rol</label>
        <input
          type="text"
          class="form-control"
          id="inputRol"
          placeholder="Rol"
          name="rol-res"
          [(ngModel)]="provider.responsiblePerson.role"
          minlength="2"
        />
      </div>
      <div>
        <small *ngIf="providerForm.controls['mail-res']?.errors?.['minlength']"
          >El rol debe tener al menos 2 caracteres.</small
        >
      </div>

      <div class="col-12 mt-2">
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="providerForm.invalid"
        >
          Guardar
        </button>
        <button
          routerLink="/proveedores/listado"
          class="btn btn-danger m-lg-1"
          type="button"
        >
          Cancelar
        </button>
      </div>
    </div>
  </form>
</main>
