<main class="mt-5">

    <h1 class="text-center">Detalle de Órden de Compra</h1>
  
    <div *ngIf="purchase" class="contenedor-detalle">
      <div class="detalle-info">
        <p><strong>N° de orden:</strong> {{ purchase.OrderNumber }}</p>
        <p><strong>Proveedor:</strong> {{ purchase.provider }}</p>
        <p><strong>Fecha de Emisión:</strong> {{ purchase.issueDate | date }}</p>
        <p><strong>Fecha entrega esperada:</strong> {{ purchase.deliveryDate | date }}</p>
        <p><strong>Estado:</strong> {{ purchase.status ? 'Activa' : 'Cancelada' }}</p>
      </div>
  
      <div class="detalle-productos">
        <h2>Productos:</h2>
        <table class="table table-dark table-striped mt-2">
          <thead>
            <tr>
              <th scope="col">Nombre del Producto</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio unitario</th>
              <th scope="col">Subtotal</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of purchase.products">
              <td>{{ producto.product}}</td>
              <td>{{ producto.quantity }}</td>
              <td>{{ producto.price | currency }}</td>
              <td>{{ producto.quantity * producto.price | currency }}</td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <div class="detalle-total">
        <p><strong>Total:</strong> {{ purchase.totalAmount | currency }}</p>
      </div>
    </div>
  
    <div *ngIf="!purchase" class="container-fluid text-bg-secondary text-center mt-5 p-3">
      <h2>No se encontró la orden de compra</h2>
    </div>
  
  </main>
  